@model PersonalBlogApp.Requests.LoginRequest
<div class="card mx-auto" style="width: 30rem;">
	<div class="card-body">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<form asp-action="Login">
			<div class="mb-3">
				<label asp-for="UserName" class="form-label">Username</label>
				<input asp-for="UserName" type="text" class="form-control" placeholder="Enter UserName">
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="PasswordHash" class="form-label">Password</label>
				<input asp-for="PasswordHash" type="password" class="form-control" placeholder="Enter Password">
				<span asp-validation-for="PasswordHash" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Sign In</button>
		</form>
		<div class="loading spinner-border text-primary d-none" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<div class="mt-3 d-flex justify-content-center">
			<h5>You don't have account??  <span><a asp-action="Register">Sign Up now</a></span></h5>
		</div>
	</div>
</div>


