@model PersonalBlogApp.Models.Blog
@using System.Security.Claims

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@{
	string userId = "";
	if (User.Identity.IsAuthenticated)
	{
		userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
	}

	if (TempData["Error"] != null)
	{
		<div class="alert alert-danger">@TempData["Error"]</div>
	}
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h4>Blog</h4>
<hr />
<div class="row">
	<form asp-action="Edit">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group my-2">
			<label asp-for="Title" class="control-label"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group my-2">
			<label asp-for="Content" class="control-label"></label>
			<textarea id="content" asp-for="Content" rows="10" cols="80">
					Enter content...
				</textarea>
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>
		<div class="form-group my-2">
			<label asp-for="Priority" class="control-label"></label>
			<select asp-for="Priority" class="form-select">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<span asp-validation-for="Priority" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="hidden" asp-for="UserId" value="@userId" class="form-control" />
		</div>
		<div class="form-group my-2">
			<input type="submit" value="Save" class="btn btn-primary" />
		</div>
	</form>
</div>

<div>
	<a asp-action="Blogs">Back to List</a>
</div>

<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script>
	CKEDITOR.replace('content');
</script>
