@using System.Security.Claims

@{
	ViewData["Title"] = "Blogs";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />


<h1>Blogs</h1>
@{
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

	if (@TempData["Error"] != null)
	{
		<div class="alert alert-danger">@TempData["Error"]</div>
	}
	else if (@TempData["Success"] != null)
	{
		<div class="alert alert-success">@TempData["Success"]</div>
	}
}
<div id="customFilterRow" class="row align-items-end mb-4">
	<div class="col-9">
		<p class="mb-0">
			<a class="btn btn-primary" asp-action="Create">Create New</a>
		</p>
	</div>
</div>
<table id="blogsTable" class="table table-hover pt-3">
	<thead>
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Prioriry</th>
			<th>User post</th>
			<th>Created date</th>
			<th>Actions</th>
		</tr>
	</thead>
</table>
<script src="/js/blog.js" asp-append-version="true"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/js/user.js" asp-append-version="true"></script>
@section Scripts {
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
			$(document).ready(function () {
			$('#blogsTable').DataTable({
				processing: true,
				serverSide: true,
				ajax: {
					url: '/Blogs/GetBlogsPagination',
					type: 'GET'
				},
				columns: [
					{ data: 'title' },
					{ data: 'content' },
					{ data: 'priority' },
					{ data: 'userName'},
					{ data: 'createdDate' },
					{ data: 'actions'}
				]
			});
		});

	</script>
}