@using System.Security.Claims

@{
	ViewData["Title"] = "Users";
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

<h1>Users</h1>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

<table id="personTable" class="table table-hover pt-3">
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Email</th>
			<th>Avatar</th>
			<th>Actions</th>
		</tr>
	</thead>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/js/user.js" asp-append-version="true"></script>
@section Scripts {
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#personTable').DataTable({
				processing: true,
				serverSide: true,
				ajax:{
					url: 'Users/GetUsersPagination',
					type: 'GET'
				},
				columns: [
						{ data: 'id' },
						{ data: 'userName' },
						{ data: 'email' },
						{
							data: 'avatar',
							render: function(data, type, row) {
								if (data) {
									return `<img src="${data}" height="70" width="70" class="rounded-circle border border-primary">`;
								}
								return '';
							}
						},
						{
							data: 'actions'
						}
					]
					});
				});
	</script>
}

