@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    var currentUser = User.Identity.Name;
    <div class="d-flex justify-content-center">
        <h1>Welcome back! <span style="color:red">@currentUser</span></h1>
    </div>
}

<div class="text-center">
    <a class="btn btn-primary mx-5" asp-action="Index" asp-controller="Users">Users</a>
    <a class="btn btn-success" asp-controller="Blogs">Blogs</a>
</div>
