@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    var currentUser = User.Identity.Name;
    <div class="d-flex justify-content-center">
        <h1>Welcome back! <span style="color:red">@currentUser</span></h1>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="GetAllUsers" asp-controller="Users">Get all users</a>
    <a asp-action="GetAll" asp-controller="Blogs">Get all blogs</a>
</div>
